/* this is my stylesheet for the homepage*/
/* this would outline the boxes of the grid
* {outline: 1px solid red;}*/



/* header styles*/

h1, h6 {font-family: sans-serif;}

header {}
header h1 {color:black; background-color: #a9a9a9}

/* nav styles */
nav a{
  color: red;
  text-decoration: none;
  text-align: center;
}
nav a: hover{
  color: black;
  text-decoration: none;
  text-align: center;
}
footer{
  position: fixed;
  bottom: 0;
}

.bar{
  width:50%;
  max-width:960px;
  margin: 0 auto;
}

.imageContainer{
  position: absolute;
  width: 300px; /*image width*/
  height: 300px; /*image height*/
  left: auto;
  top: auto;
  margin-left: -50px;
  margin-top: -10px;
}

.center{
  text-align: center;
  margin-top: auto;
}

/*body color*/

body{background-color: #a9a9a9}


/* {outline: 1px solid red;} */



/* main body styles */

/* footer styles */
